.loader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 9;
  top: 0;
  bottom: 0;

  .loader-item {
    text-align: center;

    .undefined {
      justify-content: center;
    }
  }
}
