.modal_section{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.45);
    display: flex;
    align-items: center;
    justify-content: center;

    .card-header{
        position: relative;
        h3{
            font-size: 20px;
            padding: 5px 0;
        }
        button{
            position: absolute;
            top:0;
            bottom: 0;
            right: 20px;
            margin: auto;
            font-size: 15px;
        }
    }
    .developer_img{
        img{
            width: 350px;
            height: 350px;
            object-fit: cover;
            margin: auto;
            border-radius: 5px;
        }
    }
}