.section{
    .card-header{
        position: relative;
        a.create{
           position: absolute;
           left: 20px;
           top: 0;
           bottom: 0;
           margin: auto; 
           height: 35px;
        }
    }
}